<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--<property name="hibernate.dialect">-->
            <!--org.hibernate.dialect.MySQLDialect-->
        <!--</property>-->
        <!--<property name="hibernate.connection.driver_class">-->
            <!--com.mysql.jdbc.Driver-->
        <!--</property>-->

        <!--<property name="hibernate.connection.url">-->
            <!--jdbc:mysql://localhost/liberty-jam?useUnicode=true&amp;characterEncoding=utf8-->
        <!--</property>-->
        <!--<property name="hibernate.connection.username">-->
            <!--root-->
        <!--</property>-->
        <!--<property name="hibernate.connection.password">-->
        <!--</property>-->

        <!--&lt;!&ndash; c3p0 config http://www.hibernate.org/214.html &ndash;&gt;-->
        <!--<property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">300</property>-->
        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="hibernate.c3p0.max_size">100</property>-->
        <!--<property name="hibernate.c3p0.max_statements">100</property>-->
        <!--<property name="hibernate.c3p0.timeout">50000</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryAttempts">1</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryDelay">250</property>-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->

        <!--FOR PRODUCTION-->

<hibernate-configuration>
<session-factory>
    <property name="hibernate.dialect">
        org.hibernate.dialect.MySQLDialect
    </property>
    <property name="hibernate.connection.driver_class">
        com.mysql.jdbc.Driver
    </property>

    <property name="hibernate.connection.url">
        jdbc:mysql://localhost:3306/komplimentby?useUnicode=true&amp;characterEncoding=utf8
    </property>
    <property name="hibernate.connection.username">
        komplimentby
    </property>
    <property name="hibernate.connection.password">
        IhuEq70rrbiO
    </property>

        <!-- c3p0 config http://www.hibernate.org/214.html -->
    <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.timeout">50000</property>
    <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
    <property name="hibernate.c3p0.acquireRetryDelay">250</property>

</session-factory>
</hibernate-configuration>