@font-face {
    font-family: 'Attentica4F';
    src: url('fonts/Attentica4F.otf'), url('fonts/Attentica4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BadScript';
    src: url('fonts/BadScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFranc';
    src: url('../fonts/SNF.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Osans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OsansLight';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SanFrancThin';
    src: url('../fonts/SNF_T.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 2000px) {
    body {min-width:1100px;}

}

.container{
    min-width: 970px !important;
}

#top-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: #333333 url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

#marketing-empty
{
    width: 100%;
    height: 367px;
    opacity: 0.2;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

#marketing-empty > p {
    font-family: BadScript;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    padding-top: 140px;
}


#download-stub-glass {
    width: 100%;
    height: 367px;
    opacity: 0.2;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: #333333 url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

#download-stub-glass-transparent {
    background-color: black;
    opacity: 0.2;
    background: #333333 url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}



/*-------------- NAV BAR -------------- */
.navbar {
    height: 45px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #D8D8D8;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 16pt;
}

.fb-item
{
    border-right: 1px solid #B8B8B8;
    border-left: 1px solid #B8B8B8;
    background: url(../img/fb-tr.png) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

.margintop2
{
    margin-top: 2px;
}

.textleft
{
    float: left;
}

.textright
{
    float: right;
}

/*-------------- TOP MENU -------------- */
.top-menu
{
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: Attentica4F;
    font-size: 20pt;
    font-weight:  bold
}

.menu-item-container
{
    width:70%;
    font-size: 20pt;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 15%
}

.menu-col
{
    float: left;
    width: 20%;
    cursor: pointer;
}

.footer-info-col
{
    float: left;
    width: 33%;
    text-align: justify;
    white-space: normal;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding: 2px 15px;
    color: grey;
}

/*-------------- CAROUSEL -------------- */
.carousel .item {
    height: 500px;
    background-color:#555;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}



/*-------------- FILTER BAR -------------- */
.slider
{
  width: 100%;

}

.slider-container
{
    margin-top: 20px;
    float: right;
    width: 33%;
}

.slider-values {
    font-size:19pt;
    float: right;
    padding-top: 9px;
    padding-right: 110px;
}

.content-section-a {
    font-family: Attentica4F;
    background-color: #f3f3f3;
    height: 80px;
    width: 100%;
}

.language-dropdown
{
    float: right;
    width: 48px;
    height: 48px;
    border-right: 1px solid #E2E2E2;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 17pt;
    cursor: pointer;
}

.glyphicon-asterisk {
    font-size: 8pt;
    top: -1px;
}

.dropdown-menu {
    min-width: 48px;
    font-size: 16pt;
}

.pages-title
{
    padding-top: 20px;
    padding-bottom: 10px;
}

.attentica-font16
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 16pt;
}

.attentica-font30
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 30pt;
}

.margintop10
{
    margin-top: 10px;
}

.margintop15
{
    margin-top: 15px;
}

.margintop25
{
    margin-top: 25px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

#add-to-cart
{
    margin-top: 3px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

div.marketing-item-container > h2
{
    font-family: BadScript;
    font-size: 15pt;
    font-weight: bold;
}

div.marketing-item-container > div.item-price-small
{
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 20pt;
}

.item-price-small > span {
    font-family: BadScript;
    font-size: 15pt;
    font-weight: 200;
}

div.gallery__item > p, div.marketing-item-container > p
{
    font-family: BadScript;
    font-size: 10pt;
    margin-bottom: 0px;
}

#filter > p
{
    font-family: BadScript;
    font-size: 15pt;
}

.btn-default
{
    border-color: #333;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 15pt;
    padding: 1px 10px;
}

.btn-large
{
    border-color: #333;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 20pt;
    padding: 1px 10px;
}

.btn-item-in-cart
{
    border-color: #3FB8AF;
}


.btn-group-lg>.btn, .btn-lg
{
    background-color: transparent;
    border-color: #fff;
    border-radius: 0;
    border-width: 2px;
    padding: 3px 10px;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
}

.btn-primary:hover
{
    background-color: #5A5656;
    border-color: #fff;
}

.btn-main-menu, .btn-main-menu:focus
{
    background-color: transparent;
    border: none;
}


/* ITEM DESCRIPTION
-------------------------------------------------- */



.item-photo
{
    float: left;
    width: 45%;
    margin-top:40px;
}

#add-img-div {
    text-align:left;
    display: block;
    margin-left: 12px;
    margin-bottom: 15px;
}

.item-additional-photo
{
    float: left;
    width: 15%;
    margin-top:40px;
}

.vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-description
{
    float: right;
    width: 40%;
    margin-top:30px;
}

div.item-description > div.description-text
{
  background-color: #f3f3f3;
}

div.description-text > h2
{
    font-family: BadScript;
    font-size: 25pt;

}
div.description-text > p
{
    text-align: left;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 13pt;
    padding: 1px 15px;
}
.description-text > ul
{
    text-align: left;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.row-bottom-border
{
    border-bottom: 2px solid #F3F3F3;
}

.item-price
{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}


/* MARKETING GALLERY
-------------------------------------------------- */

.gallery-wrap { margin: 0 auto; overflow: hidden;}
.gallery { position: relative; left: 0; top: 0; }
.gallery__item { float: left; word-wrap: break-word;  list-style: none; }



.gallery__controls-prev {
    cursor: pointer;
    float: left;
}

.gallery__controls-next {
    cursor: pointer;
    float: right;
}

.gallery__controls-next > p, .gallery__controls-prev > p {
    text-decoration: underline;
    float: right;
    font-family: Attentica4F, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
}

.marketing-arrow {
    opacity: 0.6;
}

.marketing-arrow:hover {
    opacity: 1;
}

.marketing-category
{
    cursor:pointer;
    text-align: center;
    margin-top: 30px;
}

.marketing-category > h2
{
    font-family: BadScript;
    font-size: 19pt;
    font-weight: bold;
}

.width33
{
    float: left;
    width: 33.3%;
}

.hdw-font
{
    font-family: BadScript;
    font-size: 15pt;
    font-weight: bold;
    width: 200px;
    margin-left: 80px;
}


/*CART -----------------------------------------*/

#go-to-cart
{
    margin-left: 15px;
}

.item-name-cart-block
{
    float: left;
    padding-left: 90px;
    text-align: left;
}

.item-name-cart
{
    font-family: BadScript;
    font-size: 15pt;
    padding-top: 25px;
}

.item-name-cart-block > span
{
    display: block;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.td-right
{
    padding-top: 30px;
}

#item-list-tr > td
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 18pt;
}

th
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 18pt;
}

/*WIZARD -----------------------------------------------------*/

.wizard-container
{
    width:60%;
    margin-left: 20%;
    white-space: nowrap;
    border-bottom: 2px solid #F3F3F3;

}

.wizard-item-active-first
{
    float: left;
    width: 10%;
    background: url(../img/bi3.png) no-repeat;
    background-position: right;
    background-size: 50px 50px;
    border-bottom: 2px solid #3FB8AF;
    background-position-x: 32px;
    background-position-y: 20px;
    height: 70px;

}

div.wizard-item-active-first > h2
{
    position: absolute;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
    color: black;
    margin-top: 75px;
    margin-left: 20px;
    font-weight: bold;
}

.wizard-item
{
    float: left;
    width: 45%;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
    color:  #DADADA;
    padding-top: 25px;
    padding-left: 160px;
}

.carousel-caption > h1
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 30pt;
}

.carousel-caption > p
{
    font-family: BadScript;
    font-size: 20pt;
}

.dlv-container-block
{
    width: 100%;
    /*border-bottom: 2px #f3f3f3 solid;*/
}

.dlv-block
{
    width: 45%;
    margin-right:100px;
    background-color: #f3f3f3;
    margin-top: 18px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.dlv-block > h2
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 23pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dlv-block-cn > .radio > label {
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

input[type=radio]:checked + label {
    color:red;
}

#dlv-bock-title
{
    border-bottom: 2px #f3f3f3 solid;
    height: 20px;
}

.dlv-block-cn
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

.dlv-block-cn > label
{
    font-family: BadScript;
    font-size: 12pt;
}

.form-control
{
    border-radius: 0px;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    padding: 2px 10px;
    line-height: 1;
    height: 29px;
    color: black;
}

.form-control:focus
{
    border-color: #3FB8AF;
}

.form-group {
    margin-bottom: 5px;
}

.dlv-time-item
{
    float:left;
    width: 50%;
    font-family: Attentica4F;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border: 2px #f3f3f3 solid;
    padding-top: 3px;
}


.dlv-time-item-selected, .dlv-time-available:hover, .dlv-time-available:active
{
    border: 2px #3FB8AF solid;
    background-color: #65D5D8;
    padding-top: 3px;
    cursor: pointer;
}

.dlv-time-item-disabled, .dlv-time-item-disabled:hover {
    opacity: 0.4;
}

.progress
{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
    height: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 2px;

}

.progress-bar
{
    background-color: #3FB8AF;
    line-height: 5px;
}

.progress-step1
{
    text-align: left;
    cursor: pointer;
}

.progress-step1 > p, .progress-step2 > p, .progress-step3 > p
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 19pt;
    margin-bottom: 0px;
}

.progress-step2
{
    text-align: center;
    cursor: pointer;
}

.progress-step3
{
    text-align: right;
    cursor: pointer;
}

.payment-block
{
    margin-top: 50px;
    background-color:#FBFBFB;
    height: 300px;
    width: 40%;
    float: left;
}

.payment-block:hover
{
    border: 2px #3FB8AF solid;
    /*background-color: #EFF3F2;;*/
}

.payment-block > p
{
    font-family: Attentica4F;
    font-size: 19pt;
    font-weight: bold;
}

.payment-not-acitve
{
    color: #ABABAB !important;
    background-color: #f3f3f3 !important;
    opacity: 0.5;
}

.select-payment
{
    color: #333;
    border: 2px #3FB8AF solid;
    opacity: 1;
}

.hidden-control
{
    display: none;
}


.filter_option {
    border: none;
    font-weight: normal;
    background-color: #f3f3f3;
    font-size: 16pt;
}

#separator {
    height: 20px;
    width: 1px;
    border-right: 1px #A2A2A2 solid;
    float: left;
    margin-top:28px;
}

#filter-opt-block {
    margin-top:22px;
    padding-right: 2px
}

/*The reason of redundant horizontal scroll :*/
/*.row*/
/*{*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
/*}*/

.button-selected
{
    border-bottom: 2px #3FB8AF solid;
    font-weight: bold;
}

.form-control-feedback
{
    margin-right: 15px;
}

#cart-stub
{
    height: 500px;
}

#cart-stub > p
{
    font-family: BadScript;
    font-size: 50pt;
    text-align: center;
    font-weight: bold;
    color: #f3f3f3;
}


.item-additional-photo-selected {
    border-left: 2px solid #3FB8AF;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/spritesheet_small2.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/spritesheet_small2.png) -17px top no-repeat;
}

.item-add-options {
    text-align: left;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.quant_box {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    width: 90px;
    height: 28px;
    border: black solid 1px;
    background: #fff;
    overflow: hidden;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
}

.quant_box input[type="text"] {
    border: 0;
    width: 40px;
    text-align: center;
}

.quant_box input[type="text"]:focus {
    border:none;
}

.quant_btn_left {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 100%;
    line-height: 26px;
    font-size: 26px;
    border-right: #b1b0b0 solid 1px;
    cursor: pointer;
    font-weight: 300;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quant_btn_right {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 23px;
    height: 100%;
    line-height: 26px;
    font-size: 26px;
    border-left: #b1b0b0 solid 1px;
    cursor: pointer;
    font-weight: 300;
}

.sum_amount {
    border-top: 2px solid #CECECE;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 22pt;
}

#payment-type-row {
    padding-bottom: 50px;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #3FB8AF !important;
}

/*CONTENT PAGES*/

#content-page-text {
    height: 500px;
    text-align: justify;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#content-page-text > p
{
    padding: 5px 150px;
}
#content-page-text > ul
{
    padding: 0px 200px;
    font-size: 13pt;
}

.dv-zone
{
    height: 200px;
    width: 200px;
}

.map-link {
    float: right;
    padding-right: 15px;
    cursor: pointer;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: italic;
    font-weight: bold;
    color: #3FB8AF;
    text-decoration: underline;
}

.dlv-description-small {
    display: block;
    font-family: OsansLight, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    padding-bottom: 5px;
    font-weight: bold;
}