@font-face {
    font-family: 'Attentica4F';
    src: url('fonts/Attentica4F.otf'), url('fonts/Attentica4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BadScript';
    src: url('fonts/BadScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 2000px) {
    body {min-width:1100px;}

}

.container{
    min-width: 970px !important;
}

#top-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: #333333 url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

#download-stub-glass {
    width: 100%;
    height: 403px;
    opacity: 0.2;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: #333333 url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}



/*-------------- NAV BAR -------------- */
.navbar {
    height: 45px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #D8D8D8;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 16pt;
}

.fb-item
{
    border-right: 1px solid #B8B8B8;
    border-left: 1px solid #B8B8B8;
    background: url(../img/fb-tr.png) no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

.margintop2
{
    margin-top: 2px;
}

.textleft
{
    float: left;
}

.textright
{
    float: right;
}

/*-------------- TOP MENU -------------- */
.top-menu
{
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: Attentica4F;
    font-size: 20pt;
    font-weight:  bold
}

.menu-item-container
{
    width:70%;
    font-size: 20pt;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 15%
}

.menu-col
{
    float: left;
    width: 20%;
}


/*-------------- CAROUSEL -------------- */
.carousel .item {
    height: 500px;
    background-color:#555;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}



/*-------------- FILTER BAR -------------- */
.slider
{
    margin-top: 30px;
    float: right;
    width: 33%;
}

.content-section-a {
    font-family: Attentica4F;
    background-color: #f3f3f3;
    height: 80px;
    width: 100%;
}

.attentica-font16
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 16pt;
}

.attentica-font30
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 30pt;
}

.margintop10
{
    margin-top: 10px;
}

.margintop15
{
    margin-top: 15px;
}

.margintop25
{
    margin-top: 25px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

#add-to-cart
{
    margin-top: 3px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

div.marketing-item-container > h2
{
    font-family: BadScript;
    font-size: 15pt;
    font-weight: bold;
}

div.marketing-item-container > div.item-price-small
{
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 20pt;
}

div.gallery__item > p, div.marketing-item-container > p
{
    font-family: BadScript;
    font-size: 10pt;
    margin-bottom: 0px;
}

#filter > p
{
    font-family: BadScript;
    font-size: 15pt;
}

.btn-default
{
    border-color: #333;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 15pt;
    padding: 1px 10px;
}

.btn-large
{
    border-color: #333;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    font-family: Attentica4F;
    font-size: 20pt;
    padding: 1px 10px;
}

.btn-item-in-cart
{
    border-color: #3FB8AF;
}


.btn-group-lg>.btn, .btn-lg
{
    background-color: transparent;
    border-color: #fff;
    border-radius: 0;
    border-width: 2px;
    padding: 3px 10px;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
}

.btn-primary:hover
{
    background-color: #5A5656;
    border-color: #fff;
}

.btn-main-menu, .btn-main-menu:focus
{
    background-color: transparent;
    border: none;
}


/* ITEM DESCRIPTION
-------------------------------------------------- */

.item-description-container
{
    width: 100%;
    height: 500px;
}

.item-photo
{
    float: left;
    width: 40%;
    margin-top:30px;
}

.vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-description
{
    float: right;
    width: 60%;
    margin-top:40px;
}

div.item-description > div.description-text
{
  background-color: #f3f3f3;
}

div.description-text > h2
{
    font-family: BadScript;
    font-size: 25pt;

}
div.description-text > p
{
  font-family: Attentica4F;
    font-weight: bold;
    font-size: 15pt;

}

.row-bottom-border
{
    border-bottom: 2px solid #F3F3F3;
}

.item-price
{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}


/* MARKETING GALLERY
-------------------------------------------------- */

.gallery-wrap { margin: 0 auto; overflow: hidden;}
.gallery { position: relative; left: 0; top: 0; }
.gallery__item { float: left; word-wrap: break-word;  list-style: none; }



.gallery__controls-prev {
    cursor: pointer;
    float: left;
    margin-top: 110px;

}
.gallery__controls-next {
    cursor: pointer;
    float: right;
    margin-top: 110px;

}

.width33
{
    float: left;
    width: 33.3%;
}

.hdw-font
{
    font-family: BadScript;
    font-size: 15pt;
    font-weight: bold;
    width: 200px;
    margin-left: 80px;
}


/*CART -----------------------------------------*/

#go-to-cart
{
    margin-left: 15px;
}

.item-name-cart
{
    float: left;
    font-family: BadScript;
    font-size: 15pt;
    padding-left: 90px;
    padding-top: 30px;
}

.td-right
{
    padding-top: 30px;
}

td
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 18pt;
}

th
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 18pt;
}

/*WIZARD -----------------------------------------------------*/

.wizard-container
{
    width:60%;
    margin-left: 20%;
    white-space: nowrap;
    border-bottom: 2px solid #F3F3F3;

}

.wizard-item-active-first
{
    float: left;
    width: 10%;
    background: url(../img/bi1.jpg) no-repeat;
    background-position: right;
    background-size: 50px 50px;
    border-bottom: 2px solid #3FB8AF;
    background-position-x: 32px;
    background-position-y: 20px;
    height: 70px;

}

div.wizard-item-active-first > h2
{
    position: absolute;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
    color: black;
    margin-top: 75px;
    margin-left: 20px;
    font-weight: bold;
}

.wizard-item
{
    float: left;
    width: 45%;
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;
    color:  #DADADA;
    padding-top: 25px;
    padding-left: 160px;
}

.carousel-caption > h1
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 30pt;
}

.carousel-caption > p
{
    font-family: BadScript;
    font-size: 20pt;
}

.dlv-block
{
    margin-top: 50px;
    float:left;
    width: 33%;
    border-right: 2px #f3f3f3 solid;
}

.dlv-block > h2
{
    font-family: Attentica4F;
    font-weight: bold;
    font-size: 20pt;

}

.dlv-block-cn
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

.dlv-block-cn > label
{
    font-family: BadScript;
    font-size: 13pt;
}

.form-control
{
    border-radius: 0px;
}

.form-control:focus
{
    border-color: #3FB8AF;
}